
.filter-panel {
    width: 100%;

    &__period {
        display: grid;
        grid-template-columns: 1fr 2em 1fr;
        width: 100%;

        > span {
            text-align: center;
        }
    }

    &__period-start,
    &__period-end {
        display: flex;
        justify-content: space-between;
    }

    &__assoc {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2em;
        margin: .6em 0 .6em .2em;
    }

    &__states-title {
        font-size: .65em;
        font-weight: 700;
        padding-top: 1em;
        padding-left: .5em;
    }
}