
.sort-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .3em;
    user-select: none;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .3em;
        border-top: 1px solid transparent;

        position: relative;
        border-radius: 1.4em;
        padding: .1em .1em .1em .6em;

        &::before {
            content: "";
            height: 1px;
            background-color: var(--color-border-active);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: 0;
        }

        &.drag-over::before {
            opacity: 1;
        }

        &:hover {
            background-color: var(--color-button-transparent-hover);
        }

        &.not-active {
            
            .sort-control__grab,
            .sort-control__title,
            .sort-control__asc-desc {
                opacity: .6;
                cursor: default !important;
                pointer-events: none;
            }
        }
    }

    &__title {
        font-size: .7em;
        width: 8em;
    }

    &__grab {
        font-size: 0.7em;
        height: 1.6em;
        width: 1.6em;
        padding: .2em;
        cursor: grab;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__on-off {
        width: 3.1em;
        justify-content: center;
    }

    &__asc-desc {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;

        perspective: 1000px;
        transform-style: preserve-3d;

        font-size: 0.7em;
        height: 2em;
        width: 2em;
        padding: .4em;

        border: 1px solid var(--color-bg-secondary);
        border-radius: 1.4em;

        cursor: pointer;
        overflow: hidden;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: transparent;
            z-index: -1;
            transition: background-color 300ms ease-in-out;
        }

        &:hover::after {
            background-color: var(--color-button-transparent-hover);
        }

        &:active::after {
            background-color: var(--color-button-transparent-active);
        }

        svg {
            transition: transform 300ms ease-in-out;
            width: 100%;
            height: 100%;
        }

        &.asc svg {
            transform: rotate(-90deg);
        }

        &.desc svg {
            transform: rotate(90deg);
        }
    }
}