# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
dist/
build/
.env
coverage/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
coverage.xml
*.cover
*.log
*.pid
*.swp
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.hypothesis/
.pyre/

# Общие файлы и директории
*.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*.swo
*.swn
*.log
*.cache
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace
.directory

*gguf

APIKEY
APIURL

*.db

