// HTML: <div class="loader"></div>
// https://css-loaders.com/spinner/

.loader {
    width: 1em;
    aspect-ratio: 1;
    display: grid;
    border: 0.08em solid transparent;
    border-radius: 50%;
    border-right-color: var(--color-button-text);
    animation: l15 1s infinite linear;

    &::before,
    &::after {    
        content: "";
        grid-area: 1/1;
        margin: 0.04em;
        border: inherit;
        border-radius: 50%;
        animation: l15 2s infinite;
    }
    &::after {
        margin: 0.16em;
        animation-duration: 3s;
    }
}

@keyframes l15 { 
    100% {
        transform: rotate(1turn)
    }
}