
.editor-task {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;

    &__menu {
        display: flex;
        flex-direction: column;
        padding: 1em 0 1em .2em;

        button {
            cursor: pointer;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 0.5em;
            font-size: .75em;
            padding: .55em 1em .5em 1em;
            position: relative;
            font-weight: 700;
            line-height: 1em;

            &::before {
                content: "";
                background-color: transparent;
                position: absolute;
                inset: 0;
            }

            &:hover::before {
                background-color: var(--color-bg-primary);
                z-index: -1;
                opacity: .6;
                border-top-left-radius: 1.2em;
                border-bottom-left-radius: 1.2em;
            }

            &.active {
                color: var(--color-button-default);

                * {
                    color: var(--color-button-default);
                }
            }

            &.active::before {
                background-color: var(--color-bg-primary);
                opacity: 1;
                z-index: -1;
                border-top-left-radius: 1.2em;
                border-bottom-left-radius: 1.2em;
            }

            svg {
                width: 1.2em;
                height: 1.2em;
            }
        }

        &__bottom {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }
    
    &__bottom-btns {
        position: relative;
        background-color: var(--color-bg-primary);
        grid-column: 2 / -1;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: .5em;
        margin-top: .5em;
        border-radius: calc(27px / 1.7);

        &-clean {
            position: absolute;
            left: 1em;
        }
    }
    
    &__content {
        background-color: var(--color-bg-primary);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1.8em;
        overflow-y: auto;
        border-radius: calc(27px / 1.7);
    }

    &__block {
        padding: .5em;
        flex-grow: 1;
        max-width: 600px;
        width: 100%;
        padding-top: 1em;
    }
}



.editor-block-main {
    display: flex;
    flex-direction: column;
    gap: .5em;

    &__title > textarea {
        font-size: 1.4em; 
        font-weight: 700;
        border-bottom: 1px solid var(--color-error);
        padding-left: 0;
        padding-right: 1.4em;
        transition: 
            padding-left 300ms ease-in-out,
            padding-right 300ms ease-in-out,
            background-color 300ms ease-in-out
        ;
        background-color: transparent;

        &:not(:empty) {
            border-bottom-color: transparent !important;
        }

        &:focus {
            background-color: rgba($color: #000000, $alpha: .3) !important;
            padding-left: .7em;
            padding-right: .7em;
        }
    }

    &__descr {
        border-left: 1px solid var(--color-button-default);

        > textarea {
            font-size: .8em;
            line-height: 1.2em;
            padding-right: 1em;
        }
    }

    &__id {
        font-size: 0.6em;
        opacity: .2;
        user-select: none;
    }

    &__status {
        padding-bottom: .4em;
    }
}



.editor-block-subtask {
    display: grid;
    grid-template-columns: 1.4em 1.8em 1fr 1.4em;
    gap: .2em;
    border-top: 1px solid transparent;
    transition: border-color 300ms ease-in-out;
    padding-top: .7em;
    padding-bottom: .7em;
    position: relative;
    margin-right: -1.4em;
    margin-left: -1.4em;

    .checkbox-sub {
        grid-column: 2 / 3;
        justify-self: center;
        transform: translateY(5px);
    }

    &__title {
        grid-column: 3 / 4;

        > textarea {
            font-size: .8em;
            line-height: 1.2em;
            font-weight: 700;

            &:not(:empty) {
                background-color: transparent;
            }

            &:focus {
                background-color: rgba($color: #000000, $alpha: .3) !important;
            }
        }
    }


    &__text {
        grid-column: 3 / 4;
        border-left: 1px solid var(--color-button-default);

        > textarea {
            font-size: .7em;
            line-height: 1.2em;
            padding-left: 1em;
        }
    }

    &__drag-and-drop {
        width: 1.2em;
        height: 1.2em;

        justify-self: center;
        align-self: center;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        cursor: grab;
        transform: translateX(4px) translateY(-.7em);

        svg {
            width: 80%;
            height: 80%;
        }

        &:hover {
            opacity: 1 !important;
        }

        &:active {
            cursor: grabbing;
        }
    }

    &:hover .editor-block-subtask__drag-and-drop {
        opacity: .6;
    }

    &.drag-over {
        border-color: var(--color-button-default);
    }

    &:last-child {
        grid-row: 1;
        min-height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__remove {
        grid-column: 4 / 5;
        grid-row: 1 / 2;

        width: 1.4em;
        height: 1.4em;  
        padding: .2em;

        opacity: 0;
        transition: opacity 300ms ease-in-out;
        transform: translateY(-.6em);

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &:hover .editor-block-subtask__remove {
        opacity: 1;
    }

    &__text:has(.editor-block-subtask__continuance) {
        font-size: .7em;

        display: flex;
        gap: .6em;

        > input {
            outline: none;
            max-width: 100px;
            text-align: center;

            background-color: rgba($color: #000000, $alpha: .15);

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            // & {
            //     -moz-appearance: textfield;
            // }

            &:focus {
                background-color: rgba($color: #000000, $alpha: .3);
            }
        }
    }

    &:last-child {
        gap: 0.5em !important;
        padding-top: 0 !important;
        padding-bottom: 1px;
    }

    &:has(.checkbox-sub.active) {
        
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-done);
            opacity: .12;
            pointer-events: none;
        }
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-text-primary);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        pointer-events: none;
    }

    &:not(:last-child):hover::after {
        opacity: .02;
    }
}
.editor-task__block:has(.editor-block-subtask) {
    // gap: 1em;
    display: flex;
    flex-direction: column;
}



.editor-block-timing,
.editor-block-riskimpact {
    display: flex;
    flex-direction: column;
    gap: .5em;

    &__title {
        font-size: .8em;
        font-weight: 700;

        display: flex;
        align-items: center;
        gap: .6em;

        user-select: none;
    }

    &__descr {
        font-size: .7em;
        line-height: 1.2em;
        user-select: none;
    }

    &__prop > textarea {
        font-size: .7em;
        line-height: 1.2em;
        border-left: 1px solid var(--color-button-default);
        padding-left: 1em;
    }

    &__d {
        flex-basis: 1.6em;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            height: .5px;
            right: 0;
            left: 0;
            background-color: var(--color-bg-secondary);
            position: absolute;
            top: .8em;
        }
    }

    .context-button-container {
        max-width: 250px;
    }

    .ico-deadline svg {
        transform: rotate(180deg);
    }

    &__gen-btn {
        align-self: center;
    }
}



.editor-block-filters {

    display: flex;
    flex-direction: column;

    &__about {
        font-size: .7em;
        line-height: 1.1em;
    }

    &__d {
        flex-basis: 1.6em;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            height: .5px;
            right: 0;
            left: 0;
            background-color: var(--color-bg-secondary);
            position: absolute;
            top: .8em;
        }
    }

    &__added {
        flex-grow: 1;
    }

    &__all-filters-btn {
        align-self: center;
        user-select: none;
        margin-bottom: 1em;
        margin-top: 1em;

        span {
            color: var(--color-text-primary)
        }
    }

    &__all-filters {
        display: flex;
        flex-direction: column;
        gap: .5em;

        &__item {
            display: flex;
            flex-direction: column;
            gap: .5em;
            padding: .6em;
            border-radius: 2px;
            user-select: none;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            border: 1px solid var(--color-bg-secondary);

            &__title {
                font-size: .7em;
                font-weight: 700;
                grid-column: 1 / 2;
                z-index: 2;
                line-height: 1em;
                color: var(--color-text-primary);
                text-align: left;
            }

            &__descr {
                font-size: .7em;
                line-height: 1.2em;
                color: var(--color-text-primary);
                text-align: left;
                padding-top: 0.4em;
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: var(--color-text-primary);
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }

            &:hover::before {
                opacity: .02;
            }

            &.active {
                // background-color: var(--color-button-default);
                border-color: var(--color-button-default);

                // * {
                //     color: var(--color-button-text);
                // }
            }

            &__reason {
                display: grid;
                grid-template-rows: 0fr;
                margin-top: -.5em;
                opacity: 0;
                transition: 
                    grid-template-rows 300ms ease-in-out,
                    margin-top 300ms ease-in-out,
                    opacity 300ms ease-in-out
                ;

                &.view {
                    grid-template-rows: 1fr;
                    margin-top: 0;
                    opacity: 1;
                }

                > div {
                    overflow: hidden;
                }
            }
        }
    }

    &__added-item,
    &__added-new-item {
        display: grid;
        grid-template-columns: 1fr 1.4em;
        cursor: default;
        user-select: none;
        position: relative;
        padding: .2em;
        gap: .2em;

        &__title {
            font-size: .7em;
            font-weight: 700;
            grid-column: 1 / 2;
            z-index: 2;
        }

        &__title-new-theme {
            font-weight: 400;
            font-size: .5em;
            display: flex;
            align-items: end;
            opacity: .7;
        }

        &__remove {
            width: 1.4em;
            height: 1.4em;  
            padding: .2em;
            z-index: 3;

            opacity: 0;
            transition: opacity 300ms ease-in-out;

            grid-column: 2 / 3;
            grid-row: 1 / 2;
            justify-self: end;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &:hover .editor-block-filters__added-item__remove {
            opacity: 1;
        }

        &__textarea {
            grid-column: 1 / -1;

            > textarea {
                font-size: .7em;
                line-height: 1.2em;
                border-left: 1px solid var(--color-button-default);
                padding-left: 1em;
                z-index: 2;
            }
        }
    }

    &__new-and-gen-btns {
        display: flex;
        padding: 1em;
        gap: .5em;
        justify-content: center;
    }
}

.editor-block-adapt {
    display: flex;
    flex-direction: column;
    gap: .5em;

    &__point {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .2em;
        border-top: 1px solid var(--color-bg-secondary);
        padding: 1em 0 .5em 0;
    }

    &__title {
        font-size: .8em;
        font-weight: 700;

        display: flex;
        align-items: center;
        gap: .6em;

        user-select: none;
    }

    &__descr {
        font-size: .7em;
        line-height: 1.2em;
        user-select: none;
    }


    &__gen-btn {
        align-self: center;
    }
}