
.task-list {
    padding: 2em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;

    height: 100%;

    &__item {
        border-bottom: 1px solid var(--color-bg-secondary);
        padding: 1em;
        width: 600px;
        max-width: 100%;
        position: relative;
        cursor: pointer;
        user-select: none;

        display: flex;
        flex-direction: column;

        &:last-child {
            border-bottom: none;
        }

        &__title {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: .5em;
            line-height: 1em;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--color-text-primary);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }

        &:hover::before {
            opacity: .04;
        }

        &__description {
            font-size: .6em;
            line-height: 1.2em;
            color: var(--color-text-secondary);
            margin-bottom: .5em;
            white-space: pre-wrap;
        }

        &__deadline {
            font-size: .5em;
            color: var(--color-text-secondary);
            margin-bottom: .5em;

            display: flex;
            align-items: center;
            gap: .2em;
            opacity: .8;

            &.day_1 * {
                color: var(--color-error);
            }

            &.days_3 * {
                color: var(--color-warning);
            }

            &.week_1 * {
                color: var(--color-prevention);
            }

            &.week_2 * {
                color: var(--color-text-primary);
            }

            span.days {
                font-size: .8em;
                opacity: .8;
            }

            svg {
                width: 1.4em;
                height: 1.4em;
                transform: translateY(-.1em) rotate(180deg);
                transform-origin: center;
            }
        }

        &__onside {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: .3em;
            padding-top: .5em;
            z-index: 1;

            &__button {
                height: 1.6em;
                padding: .2em .45em !important;
                gap: .4em;

                span {
                    color: var(--color-text-secondary);
                    font-size: .6em;
                }

                svg {
                    width: 70%;
                    height: 70%;
                }
            }

            &__button-circle {
                width: 1.6em;
                height: 1.6em;
                padding: .2em;
            }

            &__button,
            &__button-circle {

                display: flex;
                justify-content: center;
                align-items: center;
                
                svg {
                    width: 70%;
                    height: 70%;
                }
            }
        }

        &__extender {
            display: grid;
            grid-template-rows: 0fr;
            transition: 
                grid-template-rows 300ms ease-in-out,
                padding-top 300ms ease-in-out,
                opacity 300ms ease-in-out
            ;
            padding-top: 0;
            opacity: 0;

            > div {
                overflow: hidden;
                padding: 0;
            }

            &.view {
                grid-template-rows: 1fr;
                padding-top: 1em;
                opacity: 1;
            }
        }

        &__filter-button {
            font-size: .5em;

            span {
                color: var(--color-text-primary);
            }
        }

        &__subtask {
            display: grid;
            grid-template-columns: 1.4em auto;

            &-title,
            &-description,
            &-motivation,
            &-instruction,
            &-continuance {
                grid-column: 2 / -1;
                font-size: .6em;
            }

            &-title {
                font-size: .7em;
                font-weight: 700;
                padding: .5em 0;
            }

            .checkbox-sub {
                transform: translateY(.3em);
            }
        }

        &__dates {

            > div {
                font-size: .6em;
                color: var(--color-text-secondary);
                line-height: 1.4em;
                padding: .2em 0;

                > div {
                    padding-left: 2em;
                    font-size: 1em;
                    color: var(--color-text-secondary);
                    line-height: 1.4em;
                }
            }

            span {
                font-weight: 700;
                color: var(--color-text-secondary);
            }
        }

        &__risk div {
            font-size: .6em;
            color: var(--color-text-secondary);
            line-height: 1.2em;
            padding: .2em 0;

            span {
                color: var(--color-text-secondary);
            }
        }
    }
}


.task-list-loader {
    padding: 2em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    
    flex-grow: 1;
}

.task-list-nothing {
    padding: 2em 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    flex-grow: 1;
    height: 100%;

    svg {
        width: 20vh;
        height: 20vh;
    }

    > div {
        font-weight: 700;
    }
}