
.task-list {
    padding: 2em 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;

    &__item {
        // background-color: var(--color-bg-primary);
        border-bottom: 1px solid var(--color-bg-secondary);
        padding: 1em;
        width: 600px;
        max-width: 100%;
        position: relative;
        cursor: pointer;
        user-select: none;

        display: flex;
        flex-direction: column;

        &:last-child {
            border-bottom: none;
        }

        &__title {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: .5em;
            line-height: 1em;
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--color-bg-secondary);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }

        &:hover::before {
            opacity: .15;
        }

        &__description {
            font-size: .6em;
            line-height: 1.2em;
            color: var(--color-text-secondary);
            margin-bottom: .5em;
        }

        &__deadline {
            font-size: .5em;
            color: var(--color-text-secondary);
            margin-bottom: .5em;

            display: flex;
            align-items: center;
            gap: .2em;
            opacity: .8;

            &.day_1 span {
                color: var(--color-error);
            }

            &.days_3 span {
                color: var(--color-warning);
            }

            &.week_1 span {
                color: var(--color-prevention);
            }

            &.week_2 span {
                color: var(--color-text-primary);
            }

            span.days {
                font-size: .8em;
                opacity: .8;
            }

            svg {
                width: 1.4em;
                height: 1.4em;
                transform: translateY(-.2em);
            }
        }

        &__onside {
            display: flex;
            gap: .5em;
            padding-top: .5em;
        }
    }
}