.context-button-container {
    display: flex;
    width: 100%;
}

.context-button {
    
    background-color: var(--color-bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25em .5em .35em .6em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;

    border: 1px solid var(--color-border-inactive);
    border-radius: 1em + .3em + .3em;
    
    &:hover {
        background-color: var(--color-button-transparent-hover);
    }

    &:active {
        background-color: var(--color-button-transparent-active);
    }

    &__icon {
        width: 1em;
        height: 1em;
        display: block;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 82%;
            height: 82%;
        }
    }

    &__value {
        font-size: .7em;
        white-space: nowrap;
        line-height: 1em;
        align-self: flex-end;
    }
}

.context-panel {
    position: fixed;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-inactive);
    padding: .8em;
    border-radius: .8em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 300px;
    z-index: 10;
    overflow: hidden;

    button {
        padding: .2em;
        height: 1.4em;
        border-radius: .1em;

        align-self: center;
        
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: var(--color-button-transparent-hover);
        }

        &:active {
            background-color: var(--color-button-transparent-active);
        }
    }

    &__clear {
        display: flex;
        justify-content: end;
        padding-top: .5em;

        button {
            margin: 0;
            padding: 0 1em !important;
        }
    }

    &__container {
        display: flex;
        padding: .5em 0 0 0;
        gap: 0.4em;

        border-top: 1px solid var(--color-border-inactive);
        margin-top: .5em;

        > input {
            width: 100%;
            outline: 0;
            text-align: center;
            border-bottom: 1px solid var(--color-border-active);
            font-size: .8em;
            background-color: var(--color-curtain);
            border-radius: 5px 5px 1px 1px;
        }

        > span {
            font-size: 0.6em;
            align-self: center;
        }

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-size: .9em;

            flex-grow: 1;
        }
    }
}


.react-calendar {
    user-select: none;
    // min-width: 320px;

    &__navigation {

        display: flex;
        padding-bottom: 1em !important;
        
        > button {
            margin: 0 !important;
            height: 1.5em;
            min-width: 1.5em;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        * {
            font-size: 1em;
        }

        &__label__labelText {
            font-size: .7em;
            align-self: flex-end;
        }
    }

    &__month-view__weekdays > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8em;
        font-weight: 600;
        color: #4b5563;

        abbr {
            padding-bottom: 2px;
            text-decoration: none;
            border-bottom: 1px solid var(--color-border-inactive);
        }
    }

    &__month-view__days {
        padding-top: 1em;
        gap: 0.5em 0;

        button {
            border: 1px solid transparent;
            border-radius: 5px !important;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            abbr {
                transform: translateY(1px);
            }
        }        
    }

    &__month-view__days > button {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.react-calendar__month-view__weekdays__weekday--current abbr {
    color: var(--color-border-active);
}

.react-calendar__tile--active {
    border-color: var(--color-border-active) !important;

    abbr {
        color: var(--color-border-active);
    }
}

.react-calendar__tile--now abbr {
    color: var(--color-border-active);
    opacity: 1 !important;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
    opacity: 0.2;
}