.text-area2 {
    display: flex;
    flex-direction: column;
    position: relative;

    > textarea {
        outline: none;
        cursor: default;
        line-height: 1em;
        overflow: hidden;
        resize: none;
        position: relative;
        background-color: var(--color-bg-textarea);
        transition:
            background-color 300ms ease-in-out,
            padding-top 300ms ease-in-out;
        padding: 0.4em 0.4em 0.4em 0.7em;

        &:hover {
            cursor: text;
        }

        &:focus {
            background-color: var(--color-bg-textarea-hover);
        }
    }

    &__gen-btn {
        padding-top: 1em;
        font-size: 0.6em;

        display: flex;
        justify-content: end;

        position: absolute;
        right: 0.4em;
        bottom: 0.4em;
    }

    &__label {
        position: absolute;
        pointer-events: none;
        left: 1em;
        top: 50%;
        font-size: 0.7em;
        transform: translateY(-50%);
        z-index: 1;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 2px;
        background-color: transparent;
        color: var(--color-text-secondary);
        transition:
            top 300ms ease-in-out,
            transform 300ms ease-in-out,
            font-size 300ms ease-in-out,
            color 300ms ease-in-out,
            padding-bottom 300ms ease-in-out;
    }
}

.text-area2:has(.text-area2__gen-btn) > .text-area2__input {
    padding-right: 1.4em;
}

.text-area2:has(.text-area2__label) > .text-area2__input {
    &:not(:empty),
    &:focus {
        padding-top: 1.2em;
    }
}

.text-area2__input:focus ~ .text-area2__label,
.text-area2__input:not(:placeholder-shown) ~ .text-area2__label {
    top: 1px;
    font-size: 0.5em;
    color: var(--color-text-secondary);
    padding-bottom: 0 !important;
    transform: none;
}
