.new-task {
    font-size: .8rem;
    align-content: flex-start;

    &__line {
        display: flex;
        width: 100%;
        gap: 1em;
    }

    &__h4 {
        font-size: .8em;
        font-weight: 700;
    }

    &__task {
        flex-grow: 1;
        font-size: 1em;
        font-weight: 700;

        outline: 2px solid transparent;
        border: 1px solid var(--color-border-inactive);
        border-radius: 1em;
        padding: .2em .8em;

        &:focus-visible {
            outline-color: var(--color-border-active);
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px transparent inset !important; /* Цвет заливки при автозаполнении */
            -webkit-text-fill-color: var(--color-text-primary) !important;
            transition: background-color 5000s ease-in-out 0s; /* Убирает анимацию автозаполнения */
        }
    }

    &__descr {
        font-size: .85em;
        width: 100%;
        flex-shrink: 0;

        outline: 2px solid transparent;
        border: 1px solid var(--color-border-inactive);
        border-radius: 1em;
        padding: calc(.4em * 1.1) calc(.8em * 1.1);

        opacity: .9;
        line-height: 1.2em;
        resize: none;

        &:focus-visible {
            outline-color: var(--color-border-active);
        }

        &::-webkit-scrollbar-track {
            margin-top: .6em;
            margin-bottom: .6em;
        }

        &::-webkit-scrollbar {
            margin-right: 2px;
        }
    }

    &__clater {
        height: 100%;
        display: none;

        >div {
            height: 2em;
            width: 2em;
            background-color: aquamarine;
            border-radius: 50%;
            padding: 0.1em;
        }

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__options {
        flex-grow: 1;
        align-self: stretch;

        display: flex;
        flex-direction: column;
    }

    &__subtask, 
    &__theme-elem,
    &__states,
    &__energy,
    &__activate,
    &__deadline,
    &__taskchecks {
        display: flex;
        flex-direction: column;
        font-size: 1em;
        gap: .3em;
        padding-bottom: .7em;

        &-title {
            font-weight: 600;
            font-size: .8em;
            line-height: 1.2em;

            display: flex;
            align-items: center;
            gap: .3em;

            svg {
                width: 1.2em;
                height: 1.2em;
                transform: translateY(-10%);
            }
        }

        &-motiv,
        &-descr,
        &-instr,
        &-hours,
        &-name {
            font-size: .7em;
            padding-left: 1.8em;
            line-height: 1.2em;
            color: var(--color-text-secondary);
        }

        &-motiv {
            font-style: italic;
        }

        & .toggle {
            margin-left: 1em;
        }

        &-add-new {
            color: var(--color-border-active);
            font-size: .6em;
            font-weight: 600;
            padding-bottom: 1em;
            user-select: none;
            text-align: center;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: .7em;
        }

        .context-button-container {
            max-width: 250px;
            margin-left: 1em;
        }
    }

    &__theme-elem-title span {
        // процент совпадения темы
        font-size: .7em;
        color: var(--color-text-secondary);
    }

    &__states-name {
        font-weight: 600;
        color: var(--color-text-primary);
        padding-top: 1em;
    }

    &__states-title {
        padding-top: 1em;
        // background-color: red;

        &:first-child {
            padding-top: 0;
        }
    }

    &__deadline-title svg {
        transform: rotate(180deg);
    }

    &__motivation {
        font-size: .7em;
        padding: 0 .3em;
        line-height: 1.2em;
        color: var(--color-text-secondary);
    }

    &__taskchecks__add {
        margin-left: 1em;
        font-size: 1em;

        width: 1.4em;
        height: 1.4em;
        border-radius: .1em;
        padding: .2em;
        
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: var(--color-button-transparent-hover);
        }

        &:active {
            background-color: var(--color-button-transparent-active);
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-clean {
            order: -1;
        }
    }
}