.modal-query-editor {
    width: 40vw !important;
    max-width: 400px !important;
    min-width: 300px !important;
    height: 80vh !important;
    transition: 
        width 300ms ease-in-out, 
        max-width 300ms ease-in-out,
        height 300ms ease-in-out,
        opacity 300ms ease-in-out,
        transform 300ms ease-in-out
    !important;

    .custom-button-transparent {
        display: none;
    }
}

.modal-query-editor--open {
    width: 98vw !important;
    max-width: 1200px !important;
    height: 95% !important;

    .custom-button-transparent {
        display: block;
        z-index: 1;
    }
}

.query-editor {
    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 1fr;
    
    transition: grid-template-columns 300ms ease-in-out;
    height: 100%;

    &__list {
        background-color: var(--color-bg-primary);
        position: relative;
        padding: .5em 0 .2em 1em;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        &-continer {
            overflow-y: scroll;
            padding: .5em .7em 1em 0;
            display: flex;
            flex-direction: column;
            gap: .1em;

            > span {
                min-height: .3em;
                height: 0.8em;
                display: flex;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background-color: var(--color-button-transparent-hover);
                    top: 0;
                    width: 100%;
                }
            }
        }

        &-continer-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .3em 0;
            margin-right: 1em;
            border-bottom: 1px solid var(--color-button-transparent-hover);
            gap: .6em;

            .toggle {
                flex-grow: 1;
            }
        }
    }

    &__item {
        display: flex;
        transition: grid-template-columns 900ms ease-in-out;
        gap: .3em;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        * {
            color: var(--color-text-primary) !important;
        }

        &-title {
            flex-grow: 1;
            max-width: 100%;

            > span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > svg {
                width: 1.1em;
                height: 1.1em;
                flex-shrink: 0;
                transform: rotate(90deg);
            }
        }

        &-edit-btn {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background-color: transparent;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
            flex-shrink: 0;
        }

        &:hover .query-editor__item-edit-btn {
            opacity: .5;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__editor {
        background-color: var(--color-bg-primary);
        opacity: 0;
        transition: 
            opacity 300ms ease-in-out,
            padding 300ms ease-in-out
        ;

        overflow: hidden;
        padding: 0;
    }
}

.modal-query-editor--open .query-editor {
    grid-template-columns: 1fr 2fr;
    transform: translateY(0);

    .query-editor__editor {
        opacity: 1;
        padding: 1em;
    }
}

.query-block-editor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    position: relative;
    max-height: 100%;

    &__block {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    &__title {
        font-size: .6em;
        font-weight: 700;
        opacity: .5;
        user-select: none;
        
        &:not(:first-child) {
            border-top: 1px solid var(--color-button-transparent-hover);
            margin-top: 1em;
            padding-top: .7em;
            margin-bottom: .3em;
        }
    }

    &__name {
        font-size: 1.4em; 
        font-weight: 700;
        padding-top: .7em;
    }

    &__descr {
        font-size: .7em;
        line-height: 1.2em !important;
        border-left: 1px solid var(--color-button-default);
        padding-left: 1em;
        opacity: .8;
        flex-shrink: 0;
        // margin-bottom: 1em;
    }

    &__search {
        font-size: .9em;
        line-height: 1.2em !important;
        border-left: 1px solid var(--color-button-default);
        padding-left: .7em;
        flex-shrink: 0;

        font-family: "Source Code Pro" !important;
        font-weight: 300;
    }

    &__period {
        display: flex;
        gap: .5em;

        span {
            opacity: .6;
            user-select: none;
        }
    }

    &__ri {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .3em;
        border: 1px solid var(--color-border-inactive);
        padding: .16em;
        border-radius: 1em;

        button {
            justify-content: center;
        }
    }

    &__sort-control {
        border: 1px solid var(--color-border-inactive);
        padding: .5em;
        border-radius: 1em;
        align-self: flex-start;
    }

    &__bottom {
        padding: 2em 0 1em 0;
        display: flex;
        justify-content: center;
        gap: 1em;
    }
}