
.editor-task {
    display: grid;
    grid-template-columns: 270px 1fr;
    height: 100%;

    &__menu {
        display: flex;
        flex-direction: column;
        padding: 1em 0 1em .2em;

        button {
            cursor: pointer;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 0.5em;
            font-size: .75em;
            padding: .6em 1em .5em 1em;
            position: relative;
            font-weight: 700;
            line-height: 1em;

            &::before {
                content: "";
                background-color: transparent;
                position: absolute;
                inset: 0;
            }

            &:hover::before {
                background-color: var(--color-bg-primary);
                z-index: -1;
                opacity: .6;
                border-top-left-radius: 1.2em;
                border-bottom-left-radius: 1.2em;
            }

            &.active {
                color: var(--color-button-default);

                * {
                    color: var(--color-button-default);
                }
            }

            &.active::before {
                background-color: var(--color-bg-primary);
                opacity: 1;
                z-index: -1;
                border-top-left-radius: 1.2em;
                border-bottom-left-radius: 1.2em;
            }

            svg {
                width: 1.2em;
                height: 1.2em;
            }
        }
    }
    
    &__content {
        background-color: var(--color-bg-primary);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 1.8em;
        overflow-y: auto;
    }

    &__block {
        padding: .5em;
        flex-grow: 1;
        max-width: 600px;
        width: 100%;
        padding-top: 1em;
        
        &__label {
            font-size: .5em;
            font-weight: 600;
            transform: translateY(.5em);
            opacity: .4;
        }
    }

    &__block-descr {
        display: flex;
        flex-direction: column;
        gap: .5em;

        &__title {
            font-size: 1.4em; 
            font-weight: 700;
        }

        &__descr {
            font-size: .8em;
            line-height: 1.2em !important;
            border-left: 1px solid var(--color-button-default);
            padding-left: 1em;
            opacity: .8;
        }

        &__id {
            font-size: 0.6em;
            opacity: .2;
            user-select: none;
        }
    }

    &__block-subtasks {
        display: flex;
        flex-direction: column;
        gap: .8em;
    }

    &__block-risk,
    &__block-impact,
    &__block-timing,
    &__block-filters {
        display: flex;
        flex-direction: column;
        gap: .5em;

        &__title {
            font-size: .8em;
            font-weight: 700;

            display: flex;
            align-items: center;
            gap: .6em;

            user-select: none;
        }

        &__descr {
            font-size: .7em;
            line-height: 1.2em;
            user-select: none;
        }

        &__prop {
            font-size: .7em;
            line-height: 1.2em;
            border-left: 1px solid var(--color-button-default);
            padding-left: 1em;
        }

        &__label {
            font-size: .5em;
            font-weight: 600;
            transform: translateY(.5em);
            opacity: .4;
            user-select: none;
        }

        &__d {
            // background-color: red;
            flex-basis: 1.6em;
            display: flex;
            align-items: center;
            position: relative;

            &::after {
                content: "";
                height: .5px;
                right: 0;
                left: 0;
                background-color: var(--color-bg-secondary);
                position: absolute;
                top: .8em;
            }
        }

        .context-button-container {
            max-width: 250px;
        }

        .ico-deadline svg {
            transform: rotate(180deg);
        }
    }

    &__block-filters {
        display: grid;
        grid-template-columns: minmax(200px, 2fr) 3px minmax(200px, 1fr);
        padding: 1em 0 0 1.6em;
        height: 100%;
        width: 100%;
        overflow: hidden;
        // background-color: red;
        margin-bottom: 1em;
        position: relative;

        &__col1, 
        &__col2 {
            align-self: stretch;
            gap: .4em;
            // background-color: red;
            // display: flex;
            // flex-direction: column;
            flex: 1 1 0;
            min-height: 0;
            max-height: 100%;
            overflow-y: auto;
            padding-right: .4em;

            .editor-task__block-filters__title {
                position: sticky;
                top: 0;
                z-index: 3;
                background-color: var(--color-bg-primary);
                margin-bottom: .5em;
                padding: .5em 0;
            }

            > button {
                margin-bottom: .4em;
            }
        }

        &__col1 {
            grid-column: 1 / 2;
            margin-right: -.4em;
        }

        &::after {
            content: "";
            width: .5px;
            top: 0;
            bottom: 0;
            background-color: var(--color-bg-secondary);
            position: absolute;
            top: .8em;
            grid-column: 2 / 3;
        }

        &__col2 {
            grid-column: 3 / 4;
        }
    }
}

.editor-subtask {
    display: grid;
    grid-template-columns: 1.4em 1.8em 1fr 1.4em;
    gap: .2em;
    border-top: 1px solid transparent;
    transition: border-color 300ms ease-in-out;
    padding-top: .3em;
    position: relative;
    margin-right: -1.4em;
    margin-left: -1.4em;

    .checkbox-sub {
        grid-column: 2 / 3;
        justify-self: center;
    }

    &__title {
        font-size: .8em;
        font-weight: 700;
        line-height: 1.2em;
        grid-column: 3 / 4;
    }

    &__text {
        font-size: .7em;
        line-height: 1.2em;
        grid-column: 3 / 4;
        border-left: 1px solid var(--color-button-default);
        padding-left: 1em;
    }

    &__label {
        grid-column: 3 / 4;
        font-size: .5em;
        font-weight: 600;
        transform: translateY(.5em);
        opacity: .4;
        user-select: none;
    }

    &__drag-and-drop {
        width: 1.2em;
        height: 1.2em;

        justify-self: center;
        align-self: center;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        cursor: grab;

        svg {
            width: 80%;
            height: 80%;
        }

        &:hover {
            opacity: 1 !important;
        }

        &:active {
            cursor: grabbing;
        }
    }

    &:hover .editor-subtask__drag-and-drop {
        opacity: .6;
    }

    &.drag-over {
        border-color: var(--color-button-default);
    }

    &:last-child {
        grid-row: 1;
        min-height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__remove {
        grid-column: 4 / 5;
        grid-row: 1 / 2;

        width: 1.4em;
        height: 1.4em;  
        padding: .2em;

        opacity: 0;
        transition: opacity 300ms ease-in-out;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &:hover .editor-subtask__remove {
        opacity: 1;
    }

    &__continuance {
        outline: none;
        max-width: 100px;
        text-align: center;
    }
}

.editor-current-filter {
    display: grid;
    grid-template-columns: 1fr 1.4em;
    cursor: default;
    user-select: none;
    position: relative;
    padding: .2em;

    &__title {
        font-size: .7em;
        font-weight: 700;
        grid-column: 1 / 2;
        z-index: 2;
    }

    &__remove {
        width: 1.4em;
        height: 1.4em;  
        padding: .2em;
        z-index: 3;

        opacity: 0;
        transition: opacity 300ms ease-in-out;

        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-text-primary);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &:hover::before {
        opacity: .05;
    }

    &:hover .editor-current-filter__remove {
        opacity: 1;
    }

    &__textarea {
        font-size: .7em;
        line-height: 1.2em;
        grid-column: 1 / 2;
        border-left: 1px solid var(--color-button-default);
        padding-left: 1em;
        z-index: 2;
    }

    &__label {
        font-size: .5em;
        font-weight: 600;
        opacity: .4;
        z-index: 2;
    }
}

.editor-current-filter-btn {
    padding: .5em;
    border-radius: .5em;
    user-select: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &__title {
        font-size: .7em;
        font-weight: 700;
        grid-column: 1 / 2;
        z-index: 2;
        line-height: 1em;
        color: var(--color-text-primary);
        text-align: left;
    }

    &__descr {
        font-size: .7em;
        line-height: 1.2em;
        color: var(--color-text-primary);
        text-align: left;
        padding-top: 0.4em;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--color-text-primary);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &:hover::before {
        opacity: .05;
    }
}

.editor-current-filter-btn.active {
    background-color: var(--color-button-default);

    * {
        color: var(--color-button-text);
    }
}