
.modal-curtain {
    position: absolute;
    background-color: var(--color-curtain);
    inset: 0;
    z-index: 10;
    backdrop-filter: blur(12px);
    transition:
        opacity 300ms ease-in-out,
        backdrop-filter 300ms ease-in-out
    ;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 300ms ease-in-out;

    .modal, .modal-ok {
        max-width: 1200px;
        width: 98vw;
        height: 95%;

        // border: 2px solid var(--color-bg-primary);

        // background-color: var(--color-bg-secondary);
        transform: scale(0);
        transition: transform 300ms ease-in-out;

        // border-radius: .5em;
        border-radius: calc(27px / 1.7);
        // border-top-right-radius: calc(27px / 1.7);
        overflow: hidden;

        position: relative;

        &__title-bar {
            display: flex;
            padding: 0.2em;
            background-color: var(--color-bg-secondary);

            > div {
                flex-grow: 1;
                font-size: .8em;
                font-weight: 700;
                opacity: .8;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            button {
                border: 0;
                font-size: .6em;
                position: absolute;
                top: .3em;
                right: .3em;
            }
        }
    }

    .custom-button-transparent {
        border: 0;
        font-size: .6em;
        position: absolute;
        top: .2em;
        right: .2em;
    }

    &.modal--open {
        opacity: 1;
        
        > .modal, 
        > .modal-ok {
            transform: scale(1);
        }
    }

    .modal-ok {
        background-color: var(--color-bg-secondary);
        padding: 1em;
        width: 300px;
        height: 150px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        gap: 0.4em;

        &__question {
            grid-column: 1 / -1;
            font-size: 1em;
            font-weight: 700;
            line-height: 1em;
        }

        > button {
            align-self: self-end;
            display: flex;
            justify-content: center;
        }

        &__ok {
            grid-column: 2 / 3;
        }

        &__cancel {
            grid-column: 3 / 4;
        }
    }
}

