body {
    display: flex;
}

#root {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    display: flex;

    .frame-central {
        background-color: var(--color-bg-primary);
        flex-grow: 1;
    }

    .frame-left {
        left: 0;

        &.hide {
            transform: translateX(-100%);
        }
    }

    .frame-right, .frame-setting {
        right: 0;

        &.hide {
            transform: translateX(100%);
        }
    }

    .frame-right, .frame-left, .frame-setting {
        position: absolute;
        top: 0;
        bottom: 0;
        max-width: 100%;
        width: 500px;
        background-color: var(--color-bg-primary);
        z-index: 10;
        transition:
            transform 300ms ease-in-out,
            opacity 300ms ease-in-out
        ;
        overflow: hidden;
    }
}