body {
    display: flex;
}


#root {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;

    .frame-central {
        background-color: var(--color-bg-primary);
        flex-grow: 1;
        overflow: auto;
    }

    .frame-left {
        left: 0;

        &.hide {
            transform: translateX(-100%);
        }
    }

    .frame-right, .frame-setting {
        right: 0;

        &.hide {
            transform: translateX(100%);
        }
    }

    .frame-right, .frame-left, .frame-setting {
        position: absolute;
        top: 0;
        bottom: 0;
        max-width: 100%;
        width: 500px;
        background-color: var(--color-bg-primary);
        z-index: 10;
        transition:
            transform 300ms ease-in-out,
            opacity 300ms ease-in-out
        ;
        overflow: hidden;
    }
}


.frame-left {
    font-size: 1rem;
    padding: 1em;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto !important;

    &__h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    &__h3 {
        font-size: 1em;
        font-weight: 600;
    }
}


.frame-central {

    &__page {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 4em 1em 4em;
        background-color: var(--color-bg-primary);

        display: flex;
        flex-direction: column;
    }
}


.frame-right {
    font-size: 1rem;
    padding: 1em;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto !important;

    &__h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    &__h3 {
        font-size: 1em;
        font-weight: 600;
    }
}


.frame-setting {
    font-size: 1rem;
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    &__h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    &__h3 {
        font-size: 1em;
        font-weight: 600;
    }
}