:root {
    --color-bg-primary: #fff;
    --color-bg-secondary: #dbdbdb;

    --color-text-primary: #555555;
    --color-text-secondary: #7B7B7B;

    --color-curtain: #{rgba(#5c5c5c, .3)};

    --color-border-active: #3c76f1;
    --color-border-inactive: #afafaf;

    --color-button-default: #3c76f1;
    --color-button-text: #fff;
    --color-button-icon: #{rgba(#fff, .8)};
    --color-button-hover: #2f5ac0;
    --color-button-active: #1a3a8a;
    --color-button-disabled: #d8e4fc;

    --color-button-transparent-hover: #{rgba(#333, .05)};
    --color-button-transparent-active: #{rgba(#333, .08)};
    --color-button-transparent-disabled: #{rgba(#333, .02)};

    --color-scrollbar-thumb: #{rgba(#333, .1)};

    --color-text-selection: #333;
    --color-text-selection-bg: lightblue;

    --color-error: #f44336;
    --color-warning: #ff9800;
    --color-prevention: #ffe644;

    --color-button-delete: rgba(244, 67, 54, 0.12);
    --color-button-delete-hover: rgba(244, 67, 54, 0.22);
    --color-button-delete-active: rgba(244, 67, 54, 0.32);
    --color-button-delete-text: #f44336;
}

:root.dark-theme {
    --color-bg-primary: #202020;
    --color-bg-secondary: #2c2c2c;

    --color-text-primary: #d1d1d1;
    --color-text-secondary: #797979;

    --color-curtain: #{rgba(#000, 0.2)};

    --color-border-active: #4a8cff;
    --color-border-inactive: #484848;

    --color-button-default: #4a8cff;
    --color-button-text: #d8e4fc;
    --color-button-icon: #{rgba(#d8e4fc, .8)};
    --color-button-hover: #3b6fd6;
    --color-button-active: #2a4f9e;
    --color-button-disabled: #4a4a4a;

    --color-button-transparent-hover: #{rgba(#d1d1d1, .1)};
    --color-button-transparent-active: #{rgba(#d1d1d1, .15)};
    --color-button-transparent-disabled: #{rgba(#d1d1d1, .05)};

    --color-scrollbar-thumb: #{rgba(#d1d1d1, .1)};
}