
%custom-button {
    font-size: .8em;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: calc(.3em * 2 + 1em);
    transition: background-color 300ms ease-in-out;

    cursor: pointer;
    
    span {
        color: var(--color-button-text);
        padding-top: .15em;
    }

    svg, .loader {
        width: 1.2em;
        height: 1.2em;
    }

    &:disabled {
        background-color: var(--color-button-disabled);
        cursor: default;

        &:hover {
            background-color: var(--color-button-disabled);
        }

        svg * {
            color: var(--color-text-secondary);
        }

        span {
            color: var(--color-text-secondary);
        }
    }
}

.custom-button-first {
    background-color: var(--color-button-default);

    &:hover {
        background-color: var(--color-button-hover);
    }

    &:active {
        background-color: var(--color-button-active);
    }

    svg * {
        color: var(--color-button-text);
    }
}

.custom-button-second, .custom-button-transparent {
    background-color: var(--color-bg-primary);

    &:hover {
        background-color: var(--color-button-transparent-hover);
    }

    &:active {
        background-color: var(--color-button-transparent-active);
    }
}

.custom-button-transparent {
    background-color: transparent;
    border: 1px solid var(--color-button-transparent-hover);

    span {
        transform: translateY(.07em);
    }
}

.custom-button-remove {
    background-color: var(--color-button-delete);
    overflow: hidden;

    * {
        color: var(--color-button-delete-text) !important;
        font-weight: normal;
    }
    
    &:hover {
        background-color: var(--color-button-delete-hover);
    }

    &:active {
        background-color: var(--color-button-delete-active);
    }
}

.custom-button-ico-text {
    @extend %custom-button;
    gap: .6em;
    padding: .3em 1.4em .3em .6em;
}

.custom-button-ico {
    @extend %custom-button;
    padding: .55em;
    height: calc(1em + .15em + .55em * 2);
    width: calc(1em + .15em + .55em * 2);
}

.custom-button-text {
    @extend %custom-button;
    padding: 0 1.4em;
}