
.panel {
    display: flex;
    align-items: stretch;
    gap: 1em;
    user-select: none;

    position: sticky;
    top: .5em;

    z-index: 3;

    font-size: 1rem;
    
    &__search-switcher {
        display: flex;
        flex-direction: column;

        button {
            width: 1em;
            height: 1em;
            padding: .2em;
        }

        &__top {
            border-end-start-radius: 0;
            border-end-end-radius: 0;
        }

        &__bottom {
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }
    }

    &__search-conteiner {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__search,
    &__preset {
        flex-grow: 1;

        display: grid;
        grid-template-rows: 0fr;
        opacity: 0;
        transition:
            opacity 300ms ease-in-out,
            grid-template-rows 300ms ease-in-out
        ;

        overflow: hidden;
        
        > div {
            overflow: hidden;
            transition: padding 300ms ease-in-out;
        }

        &.view {
            grid-template-rows: 1fr;
            opacity: 1;
        }

        &:not(.view) > div {
            padding: 0 !important;
            max-height: 0 !important;
        }
    }
}

.search-component {
    display: flex;

    padding: .2em;
    gap: .2em;
    border: 1px solid var(--color-bg-secondary);
    border-radius: calc((1em + .15em + .55em * 2 + .2em * 2) / 2);

    overflow: hidden;
    flex-grow: 1;

    background-color: var(--color-bg-primary);

    &__viewer {
        container-type: inline-size;
        flex-grow: 1;
        cursor: text;
        position: relative;

        display: flex;
        flex-wrap: wrap;
        gap: .2em 0;
    }

    &__viewer input {
        outline: 0;
        width: min(100cqw, var(--text-width));
        margin-left: .6em;
        font-size: .8em;
        transform: translateY(.1em);
    }

    &__filter {
        align-self: center;

        background-color: var(--color-button-default);
        margin-left: .35em;
        font-size: .6em;
        line-height: 1.2em;

        display: flex;
        align-items: center;
        gap: .2em;

        padding: .2em .2em .2em .8em;
        border-radius: calc(.2em * 2 + 1em);

        user-select: none;

        position: relative;

        cursor: default;

        > button {
            font-size: .6em;
        }

         * {
            font-size: .82em;
            color: var(--color-button-text);
        }

        > div:has(svg) {
            width: 1.6em;
            height: 1.6em;
            transform-origin: center;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:has(> div svg) {
            padding-left: .35em;
        }
    }

    &__submit,
    &__filter-btn {
        font-size: .7em;
    }
}

.preset-component {
    align-items: start;
    display: flex;
    gap: .5em;

    > button {
        font-size: .5em !important;
    }

    > button:not(.custom-button-first) * {
        color: var(--color-text-primary)
    }
}